<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <!-- import JavaScript -->
    <script src="js/element-ui.js"></script>
    <style>
        p {
            font-weight: bold;
            background-color: aqua;
        }
    </style>
</head>

<body>
    <div id="app">
        <p style="font-weight: bold;background-color: aqua;">床位信息</p>
        <el-table :data="tableData" style="width: 100%" border>
            <el-table-column label="编号" prop="id"></el-table-column>
            <el-table-column label="位置">
                <template #default="scope">
                    <el-row>
                        <el-col :span="8">
                            <el-select v-model="scope.row.building" placeholder="选择位置">
                                <el-option label="东2" value="东2"></el-option>
                                <el-option label="东1" value="东1"></el-option>
                                <el-option label="西1" value="西1"></el-option>
                                <el-option label="西2" value="西2"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="3"></el-col>
                        <el-col :span="8">
                            <el-input v-model="scope.row.location" placeholder="选择楼层"></el-input>
                        </el-col>
                    </el-row>
                </template>
            </el-table-column>
            <el-table-column label="状态" prop="state">
                <template #default="scope">
                    {{scope.row.state?'已分配':'未分配'}}
                </template>
            </el-table-column>
            <el-table-column label="价格（每天）">
                <template #default="scope">
                    <el-input v-model="scope.row.price" />
                </template>
            </el-table-column>
            <el-table-column align="right">
                <template #header>
                    <el-row>
                        <el-col :span="16">
                            <el-input v-model="searchContent" size="small" placeholder="搜索床位信息" />
                        </el-col>
                        <el-col :span="4"></el-col>
                        <el-col :span="4">
                            <el-button size="small" type="primary" @click="search">搜索</el-button>
                        </el-col>
                    </el-row>
                </template>
                <template #default="scope">
                    <el-button v-if="!scope.row.state" size="small"
                        @click="allocateBed(scope.$index,scope.row)">分配床位</el-button>
                    <el-button v-if="scope.row.state" size="small" type="danger"
                        @click="recycleBed(scope.$index, scope.row)">回收床位</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-button type="primary" @click="dialogFormVisible = true">添加床位信息</el-button>
        <el-button type="primary" @click="onSubmit()">提交确认</el-button>
        <!-- 床位信息控制 -->
        <el-dialog v-model="dialogFormVisible" title="床位信息">
            <el-form :model="form">
                <el-form-item label="编号" :label-width="formLabelWidth">
                    <el-input v-model="form.id" />
                </el-form-item>
                <el-form-item label="位置">
                    <el-row>
                        <el-col :span="8">
                            <el-select v-model="form.building" placeholder="选择位置">
                                <el-option label="东2" value="东2"></el-option>
                                <el-option label="东1" value="东1"></el-option>
                                <el-option label="西1" value="西1"></el-option>
                                <el-option label="西2" value="西2"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="3"></el-col>
                        <el-col :span="8">
                            <el-input v-model="form.location" placeholder="选择楼层"></el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="价格（每天）" :label-width="formLabelWidth">
                    <el-input v-model="form.price" />
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @click="addBed()">
                        添加
                    </el-button>
                </span>
            </template>
        </el-dialog>
        <!-- 分配床位信息列表 -->
        <el-dialog v-model="bedFormVisible" title="分配床位">
            <el-form>
                <p>病人列表，选择病人</p>
                <el-row>
                    <el-col :span="8">
                        <el-input v-model="searchPatientContent" size="small" placeholder="搜索病人信息" />
                    </el-col>
                    <el-col :span="4">
                        <el-button size="small" type="primary" @click="searchPatient">搜索</el-button>
                    </el-col>
                </el-row>
                <el-row style="margin-top: 10px;">
                    <el-col :span="8">
                        <el-select v-model="patient_bed" placeholder="选择病人信息">
                            <el-option v-for="item in patients" :value="item.id" :label="item.id+'-'+item.name">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-row>
                <p>床位信息</p>
                <el-row>
                    <el-col :span="8">编号:{{targetBed.id}}</el-col>
                    <el-col :span="8">位置:{{targetBed.building}}-{{targetBed.location}}</el-col>
                    <el-col :span="8">价格:{{targetBed.price}}</el-col>
                </el-row>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="bedFormVisible = false">取消</el-button>
                    <el-button type="primary" @click="addPatientToBed()">
                        提交
                    </el-button>
                </span>
            </template>
        </el-dialog>

    </div>
    <script>

        const App = {
            data() {
                return {
                    tableData: [
                    ],
                    searchContent: '',//搜索床位信息
                    searchPatientContent: '',//搜索病人信息
                    dialogFormVisible: false,
                    bedFormVisible: false,
                    form: [
                        {
                            id: '', building: '西1', location: '', price: 40
                        }
                    ],
                    patient_bed: '',//病人床位信息
                    targetBed: '',//目标床位信息
                    patients: [],//住院病人数据
                    targetBedIndex: '',
                }
            },
            created() {
                this.initTableData();
            },
            methods: {
                //添加床位
                addBed() {
                    this.dialogFormVisible = false;
                    bed = this.form;
                    this.tableData.push({
                        id: bed.id,
                        building: bed.building,
                        location: bed.location,
                        price: bed.price,
                        state: false
                    });
                    this.onSubmit();
                    this.form = []
                },
                initTableData() {
                    axios({
                        url: 'http://localhost:8080/bed/findAll',
                        method: 'get',
                    }).then(resp => {
                        this.tableData = resp.data.result;
                    });
                },
                onSubmit() {

                    axios({
                        url: 'http://localhost:8080/bed/addBed',
                        method: 'post',
                        data: {
                            beds: JSON.stringify(this.tableData)
                        }
                    }).then(resp => {
                        alert(resp.data.message);
                    })
                },
                //分配床位
                allocateBed(index, row) {
                    this.bedFormVisible = true;
                    this.targetBed = row;
                    this.targetBedIndex = index;
                    axios({
                        url: 'http://localhost:8080/bed/findInPatients',
                        mathod: 'get'
                    }).then(resp => {
                        this.patients = resp.data.result;
                    });
                },
                //将床位分配给病人，最终完成提交
                addPatientToBed() {
                    this.bedFormVisible = false;
                    axios({
                        url: 'http://localhost:8080/bed/allocateBed',
                        method: 'post',
                        params: {
                            patientId: this.patient_bed,
                            bedId: this.targetBed.id
                        }
                    }).then(resp => {
                        console.log(resp.data.message);
                        let index = 0;
                        this.tableData[this.targetBedIndex].state = 1;
                    })
                },
                //回收床位
                recycleBed(index, bed) {
                    this.tableData[index].state = 0;
                    axios({
                        url: 'http://localhost:8080/bed/deletePatientToBed',
                        method: 'delete',
                        params: {
                            bedId: bed.id
                        }
                    }).then(resp => {
                        alert(resp.data.message);
                    })
                },
                //搜索床位内容
                search() {

                },
                //搜索病人信息
                searchPatient() {

                }
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>