<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <!-- import JavaScript -->
    <script src="js/element-ui.js"></script>
    <style>
        p {
            font-weight: bold;
            background-color: aqua;
        }
    </style>
</head>

<body>
    <div id="app">
        <p style="font-weight: bold;background-color: aqua;">床位信息</p>
        <el-table :data="tableData" style="width: 100%" border>
            <el-table-column label="编号" prop="id"></el-table-column>
            <el-table-column label="位置">
                <template #default="scope">
                    <el-row>
                        <el-col :span="8">
                            <el-select v-model="scope.row.building" placeholder="选择位置">
                                <el-option label="东2" value="东2"></el-option>
                                <el-option label="东1" value="东1"></el-option>
                                <el-option label="西1" value="西1"></el-option>
                                <el-option label="西2" value="西2"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="3"></el-col>
                        <el-col :span="8">
                            <el-input v-model="scope.row.location" placeholder="选择楼层"></el-input>
                        </el-col>
                    </el-row>
                </template>
            </el-table-column>
            <el-table-column label="状态" prop="state">
                <template #default="scope">
                    {{scope.row.state?'已分配':'未分配'}}
                </template>
            </el-table-column>
            <el-table-column label="价格（每天）" prop="price"></el-table-column>
            <el-table-column align="right">
                <template #header>
                    <el-row>
                        <el-col :span="16">
                            <el-input v-model="searchContent" size="small" placeholder="搜索床位信息" />
                        </el-col>
                        <el-col :span="4"></el-col>
                        <el-col :span="4">
                            <el-button size="small" type="primary" @click="search">搜索</el-button>
                        </el-col>
                    </el-row>
                </template>
                <template #default="scope">
                    <el-button v-if="!scope.row.state" size="small"
                        @click="allocateBed(scope.$index, scope.row)">分配床位</el-button>
                    <!-- 分配床位信息列表 -->
                    <el-dialog v-model="bedFormVisible" title="分配床位">
                        <el-form>
                            <p>病人列表，选择病人</p>
                            <el-row>
                                <el-col :span="8">
                                    <el-input v-model="searchPatientContent" size="small" placeholder="搜索病人信息" />
                                </el-col>
                                <el-col :span="4">
                                    <el-button size="small" type="primary" @click="searchPatient">搜索</el-button>
                                </el-col>
                            </el-row>
                            <el-row style="margin-top: 10px;">
                                <el-col :span="8">
                                    <el-select v-model="patient_bed" placeholder="选择病人信息">
                                        <el-option value="1234" label="1234-刘华强">
                                        </el-option>
                                        <el-option value="12345" label="12345-刘华强"></el-option>
                                        <el-option value="12346" label="12346-刘华强">
                                        </el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <p>床位信息</p>
                            <el-row>
                                <el-col :span="8">编号:{{scope.row.id}}</el-col>
                                <el-col :span="8">位置:{{scope.row.building}}-{{scope.row.location}}</el-col>
                                <el-col :span="8">价格:{{scope.row.price}}</el-col>
                            </el-row>
                        </el-form>
                        <template #footer>
                            <span class="dialog-footer">
                                <el-button @click="bedFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="addPatientToBed">
                                    提交
                                </el-button>
                            </span>
                        </template>
                    </el-dialog>
                    <el-button v-if="scope.row.state" size="small" type="danger"
                        @click="recycleBed(scope.$index, scope.row)">回收床位</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-button type="primary" @click="dialogFormVisible = true">添加床位信息</el-button>
        <!-- 床位信息控制 -->
        <el-dialog v-model="dialogFormVisible" title="床位信息">
            <el-form :model="form">
                <el-form-item label="编号" :label-width="formLabelWidth">
                    <el-input v-model="form.id" />
                </el-form-item>
                <el-form-item label="位置">
                    <el-row>
                        <el-col :span="8">
                            <el-select v-model="form.building" placeholder="选择位置">
                                <el-option label="东2" value="东2"></el-option>
                                <el-option label="东1" value="东1"></el-option>
                                <el-option label="西1" value="西1"></el-option>
                                <el-option label="西2" value="西2"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="3"></el-col>
                        <el-col :span="8">
                            <el-input v-model="form.location" placeholder="选择楼层"></el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="价格（每天）" :label-width="formLabelWidth">
                    <el-input v-model="form.price" />
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取消</el-button>
                    <el-button type="primary" @click="addBed">
                        添加
                    </el-button>
                </span>
            </template>
        </el-dialog>

    </div>
    <script>

        const App = {
            data() {
                return {
                    tableData: [
                        {
                            id: 101,
                            building: '西2',
                            location: '547',
                            state: true,
                            price: 40
                        },
                        {
                            id: 102,
                            building: '西1',
                            location: '545',
                            state: false,
                            price: 50
                        }
                    ],
                    searchContent: '',//搜索床位信息
                    searchPatientContent: '',//搜索病人信息
                    dialogFormVisible: false,
                    bedFormVisible: false,
                    form: [
                        {
                            id: '', building: '', location: '', price: ''
                        }
                    ],
                    patient_bed: ''//病人床位信息
                }
            },
            methods: {
                //添加床位
                addBed() {
                    this.dialogFormVisible = false;
                    bed = this.form;
                    this.tableData.push({
                        id: bed.id,
                        building: bed.building,
                        location: bed.location,
                        price: bed.price,
                        state: false
                    });
                    this.form = []
                },
                //分配床位
                allocateBed(index, row) {
                    this.tableData[index].state = 1;
                    this.bedFormVisible = true;
                },
                //将床位分配给病人，最终完成提交
                addPatientToBed() {
                    this.bedFormVisible = false;
                },
                //回收床位
                recycleBed(index, bed) {
                    this.tableData[index].state = 0;
                },
                //搜索床位内容
                search() {

                },
                //搜索病人信息
                searchPatient() {

                }
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>