<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <!-- import JavaScript -->
    <script src="js/element-ui.js"></script>
    <title>Element Plus demo</title>
</head>

<body>
    <div id="app">
        <p>医生姓名：刘小龙</p>
        <p>医生职称：副主任医师</p>
        <p>科室：内科</p>
        <p>就诊时间段：2022年12月22日 下午2:30到4：30</p>
        <p>挂号金额：<span style="font-weight: bold; color: red;">￥30元</span></p>
        <p>就诊人：李华</p>
        <el-button>确认</el-button>
        <el-button>取消</el-button>
    </div>
    <script>
        const App = {
            data() {
                return {
                    message: "Hello Element Plus",
                };
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>