<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <!-- import JavaScript -->
    <script src="js/element-ui.js"></script>
    <style>
        .el-row {
            margin-bottom: 20px;
            border-bottom: 1px solid black;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-card>
            <template #header>
                <div class="card-header">
                    <img src="/imgs/head.png" style="width: 80px;height: 80px;">
                    <span style="display: inline-block;margin-left: 20px;">
                        <p>姓名：刘小龙</p>
                        <p>职称：副主任医师</p>
                    </span>

                    <div id="detail">
                        <p style="font-weight: bold;">介绍</p>
                        <p>肝病科学科带头人、学术带头人，肝病科科主任
                            广东省名中医，主任中医师，教授，二级正高，博士生导师，全国第六批名中医药专家学术继承指导老师，广东省首批名中医师承项目指导老师，中医哲学访问学者。国家中医肝病重点专科协作组组长。广东省保健协会首席专家顾问，广东省保健协会健康服务示范基地首席专家
                        </p>
                    </div>
                    <div id="feature">
                        <p style="font-weight: bold;">擅长</p>
                        <p>擅长：辨证施治、中医心理治疗、情志疗法、中医外治法及药膳食疗、养生保健，提出并实施多维立体系列疗法体系防治肝胆系统疾病（包括病毒性肝炎、肝纤维化、肝硬化、脂肪肝、酒精肝、药物性肝病、自身免疫性肝病等），疗效显著。
                        </p>
                    </div>
                </div>
            </template>
            <div id="card-body">
                <el-row>
                    <el-col :span="12">
                        2022年12月22日 上午8:30到11：30 挂号费用 ￥30元
                    </el-col>
                    <el-col :span="3" :offset="9">
                        当前挂号5人<span style="font-weight: bold;">></span>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="12">
                        2022年12月22日 下午2:30到4：30 挂号费用 ￥20元
                    </el-col>
                    <el-col :span="3" :offset="9">
                        已经停诊<span style="font-weight: bold;">></span>
                    </el-col>
                </el-row>
            </div>
        </el-card>
    </div>
    <script>
        const App = {
            data() {
                return {
                    message: "Hello Element Plus",
                };
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>