<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <!-- import JavaScript -->
    <script src="js/element-ui.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <title>Element Plus demo</title>
</head>

<body>
    <div id="app">
        <el-form :model="form" label-width="120px">
            <p style="font-weight: bold;font-size: 20px;">个人信息</p>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="姓名">
                        <el-input v-model="form.name" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="就诊卡号">
                        <el-input v-model="form.id" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="年龄">
                        <el-input v-model="form.age" />
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="8">
                    <el-form-item label="身份证号码">
                        <el-input v-model="form.idNumber" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="性别">
                        <el-radio-group v-model="form.sex">
                            <el-radio label="男">男</el-radio>
                            <el-radio label="女">女</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="电话号码">
                        <el-input v-model="form.telephone" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>

                <el-col :span="8">
                    <el-form-item label="密码">
                        <el-input v-model="form.password" />
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="出生日期">
                        <el-col :span="11">
                            <el-date-picker v-model="form.birthday" type="date" placeholder="Pick a date"
                                style="width: 100%" />
                        </el-col>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="家庭住址">
                        <el-input v-model="form.address" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">提交</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>


        <p style="font-weight: bold;">挂号信息</p>
        <el-table :data="tableData" border style="width: 100%" max-height="550px">
            <el-table-column prop="date" label="挂号日期">
                <template #default="scope">
                    <el-date-picker v-model="scope.row.date" type="date" readonly />
                </template>
            </el-table-column>
            <el-table-column prop="time" label="挂号时间"></el-table-column>
            <el-table-column prop="department" label="挂号科室"></el-table-column>
            <el-table-column prop="location" label="科室位置"></el-table-column>
            <el-table-column prop="doctorName" label="挂号医生"></el-table-column>
            <el-table-column prop="price" label="挂号价格"></el-table-column>
            <el-table-column fixed="right" label="操作">
                <template #default="scope">
                    <el-button plain type="primary" size="small" @click.prevent="deleteRow(scope.$index,scope.row.id)">
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <p><el-button type="primary" @click="register()">我要挂号</el-button></p>
        <p style="font-weight: bold;">处方信息 <el-button type="primary" size="small"
                @click="getPrescribes()">获取处方信息</el-button> </p>
        <el-table :data="prescribeData" border style="width: 100%" max-height="300px">
            <el-table-column type="index" label="序号"></el-table-column>
            <el-table-column prop="date" label="就诊日期">
                <template #default="scope">
                    <el-date-picker v-model="scope.row.date" type="date" readonly />
                </template>
            </el-table-column>
            <el-table-column prop="time" label="就诊时间"></el-table-column>
            <el-table-column prop="department" label="就诊科室"></el-table-column>
            <el-table-column prop="doctorName" label="挂号医生"></el-table-column>
            <el-table-column prop="price" label="挂号价格"></el-table-column>
            <el-table-column fixed="right" label="操作">
                <template #default="scope">
                    <el-button plain type="primary" size="small" @click.prevent="showMedicine(scope.row)">
                        查看处方
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog v-model="prescribeDataVisible" title="药物详细信息">
            <el-form-item label="症状描述">
                <el-input v-model="description" type="textarea" />
            </el-form-item>
            <el-table :data="medicineData">
                <el-table-column type="index" label="序号"></el-table-column>
                <el-table-column property="name" label="名称" width="150"></el-table-column>
                <el-table-column property="dayUsage" label="用法" width="200"></el-table-column>
                <el-table-column property="number" label="数量"></el-table-column>
                <el-table-column property="price" label="价格"></el-table-column>
            </el-table>
            <p>药品的总价为 <span style="color: red;">￥{{totalPrice}}元</span></p>
        </el-dialog>
    </div>
    <script>
        const App = {
            data() {
                return {
                    form: {
                        name: 'liulong',
                        telephone: '19860205976',
                        sex: '男',
                        age: 12,
                        idNumber: '340826' + '100000' + '8967',
                        address: '北京朝阳区阳光大道123',
                        password: '123456',
                        birthday: '2012-12-25'
                    },
                    tableData: [
                        {
                            date: '2022-12-34',
                            time: '上午8：30到11：30',
                            department: '内科',
                            doctorName: '刘强',
                            price: 12
                        },
                        {
                            date: '2022-12-34',
                            time: '上午8：30到11：30',
                            department: '内科',
                            doctorName: '刘强',
                            price: 12
                        },
                        {
                            date: '2022-12-34',
                            time: '上午8：30到11：30',
                            department: '内科',
                            doctorName: '刘强',
                            price: 12
                        }
                    ],
                    prescribeData: [

                    ],
                    medicineData: [
                        {
                            name: '阿莫西林',
                            number: 4,
                            dayUsage: '一天三次，每次4片',
                            price: 20
                        },
                        {
                            name: '阿莫西林',
                            number: 4,
                            dayUsage: '一天三次，每次4片',
                            price: 20
                        },
                    ],
                    prescribeDataVisible: false,
                    totalPrice: 100,
                    prescribeIds: [],//需要进行处方展示的tableData数据里面的id
                    description: '',//症状描述

                }



            },
            methods: {
                onSubmit() {
                    axios({
                        url: 'http://127.0.0.1:8080/patient/register',
                        method: 'post',
                        timeout: 2000,
                        data: this.form,
                    }).then(function (resp) {
                        alert(resp.data.message);
                    })
                },
                initTableData(patientId) {
                    axios({
                        url: 'http://127.0.0.1:8080/register/findByPatientId',
                        params: {
                            patientId: patientId
                        },
                        method: 'get'
                    }).then(resp => {
                        this.tableData = resp.data.result;
                        this.tableData.forEach(cure => {
                            this.prescribeIds.push(cure.id);
                        })
                    })
                },
                //获取处方信息
                getPrescribes() {
                    axios({
                        method: 'get',
                        url: 'http://127.0.0.1:8080/prescribe/findPrescribesById',
                        params: {
                            patientId: this.form.id,
                            prescribeIds: this.prescribeIds,
                        },
                        paramsSerializer: {
                            serialize: function (params) {
                                return $.param(params, true);
                            },
                        }
                    }).then(resp => {
                        this.prescribeData = [];
                        const pres = resp.data.result;
                        if (resp.data.code !== '200') {
                            alert(resp.data.message);
                            return resp;
                        }
                        pres.forEach(preId => {

                            this.tableData.forEach(cure => {
                                if (cure.id == preId) {
                                    this.prescribeData.push(cure);
                                }
                            })
                        })
                    })
                },
                //我要挂号
                register() {
                    location.href = 'registration.html';
                },
                //删除就诊信息
                deleteRow(index, registerId) {
                    this.tableData.splice(index, 1);
                    axios({
                        url: 'http://127.0.0.1:8080/register/cancel',
                        params: {
                            registerId: registerId
                        },
                        method: 'delete'
                    }).then(resp => {
                        alert(resp.data.message);
                    })
                },
                //展示药物信息
                showMedicine(register) {
                    axios({
                        method: 'get',
                        url: 'http://127.0.0.1:8080/prescribe/findPrescribes',
                        params: {
                            registerId: register.id
                        },
                    }).then(resp => {
                        console.log(register);
                        this.description = resp.data.result.description;
                        this.medicineData = resp.data.result.medicineData;
                        this.prescribeDataVisible = true;
                        let totalPrice = 0;
                        this.medicineData.forEach(medicine => {
                            totalPrice += medicine.number * medicine.price;
                        });
                        this.totalPrice = totalPrice;
                    })
                }
            },
            created() {
                const patient = JSON.parse(localStorage.getItem('patient'));
                if (patient != null) {
                    this.form = patient;
                }
                this.initTableData(patient.id);
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>