<html>

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <script src='js/vue.js'></script><!-- import CSS -->
    <script src="js/axios.min.js"></script>
    <link rel='stylesheet' href='css/element-ui.css'> <!-- import JavaScript -->
    <script src='js/element-ui.js'></script>
    <script src="//unpkg.com/@element-plus/icons-vue"></script>

    <style>
        .demo-tabs>.el-tabs__content {
            padding: 32px;
            color: #6b778c;
            font-size: 32px;
            font-weight: 600;
        }

        .el-tabs--right .el-tabs__content,
        .el-tabs--left .el-tabs__content {
            height: 100%;
        }

        .el-row {
            margin-bottom: 20px;
        }

        .bold {
            font-weight: bold;
            background-color: aqua;
            border-bottom: 1px solid black;
        }
    </style>
</head>

<body>
    <!-- 测试环境搭建 -->
    <div id='app'>
        <el-header>欢迎你 <a href="patient.html">{{patient.name}}</a></el-header>
        <el-container>
            <el-aside>
                <p class="bold">科室信息</p>
                <el-scrollbar max-height="500px">
                    <el-menu>
                        <el-sub-menu :index="cure.departmentName" v-for="(cure,index) in cureMessage"
                            v-on:click="showDoctors(cure)">
                            <template #title>
                                <el-icon>
                                    <message />
                                </el-icon>{{cure.departmentName}}
                            </template>
                            <el-menu-item-group>
                                <el-menu-item :index="item.id"
                                    v-for="(item,index2) in cure.doctors">{{item.name}}</el-menu-item>
                            </el-menu-item-group>
                        </el-sub-menu>
                    </el-menu>
                </el-scrollbar>
            </el-aside>
            <el-container>
                <p class="bold">医生信息</p>
                <el-header>
                    <el-form :inline="true" class="demo-form-inline">
                        <el-form-item>
                            <el-input placeholder="输入查找医生的信息" />
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="findDoctors">查找</el-button>
                        </el-form-item>
                    </el-form>
                </el-header>
                <el-main>
                    <el-scrollbar height="580px">
                        <el-row>
                            <el-card style="width: 300px; margin-left: 20px; margin-bottom: 20px;"
                                v-for="doctor in doctorDetails">
                                <img style="width: 100px;height: 100px;"
                                    src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" />
                                <div style="padding: 6px">
                                    <span>{{doctor.name}}</span>
                                    <div class="bottom">
                                        <p style="font-size: 12px;">
                                            {{doctor.feature}}</p>
                                        <el-button class="button" @Click="showDoctorDetail(doctor)">详情</el-button>
                                    </div>
                                </div>
                            </el-card>
                        </el-row>
                    </el-scrollbar>
                </el-main>
            </el-container>
        </el-container>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    cureMessage: [],//医生出诊的信息
                    doctorDetails: [],//右侧展示的医生简单信息
                    patient: '',
                }
            },
            methods: {
                initCureMessage() {
                    axios.get("http://localhost:8080/register/findAll").then(resp => {

                        this.cureMessage = resp.data.result;
                        this.doctorDetails = resp.data.result[0].doctors;//展示内科信息
                        console.log(this.cureMessage);
                    })
                },
                //展示医生的简单信息
                showDoctors(cure) {
                    this.doctorDetails = cure.doctors;
                },
                //展示医生的详细信息
                showDoctorDetail(doctor) {
                    localStorage.setItem('doctor_detail', JSON.stringify(doctor));
                    location.href = 'doctor_detail.html';
                },
            },
            created() {
                this.initCureMessage();
                this.patient = JSON.parse(localStorage.getItem('patient'));
            }
        });
        app.use(ElementPlus);
        for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
            app.component(key, component)
        };
        app.mount("#app");
    </script>
</body>

</html>