<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <!-- import JavaScript -->
    <script src="js/element-ui.js"></script>
    <script src="js/jquery.min.js"></script>
</head>

<body>
    <div id="app">

    </div>
    <script>
        console.log($.param({ a: [1, 2, 3] }, true));
        console.log(decodeURIComponent($.param({ a: [1, 2, 3] }, true)));

        const App = {
            data() {
                return {
                    doctorId: '',
                    patientId: '',
                    description: '',//症状描述
                    date: '',//处方日期
                    isInPatient: '',//是否需要住院
                    medicines: [//保存用药信息，包括药品id和数量
                        {
                            id: '',
                            number: '',
                            dayUsage: '',
                        },
                        {
                            id: '',
                            number: '',
                            dayUsage: '',
                        },
                    ]

                }
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>