<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <!-- import JavaScript -->
    <script src="js/element-ui.js"></script>
    <title>Element Plus demo</title>
</head>

<body>
    <div id="app">
        <el-form :model="form" label-width="120px">
            <el-form-item label="姓名">
                <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="电话号码">
                <el-input v-model="form.telephone" />
            </el-form-item>
            <el-form-item label="性别">
                <el-radio-group v-model="form.sex">
                    <el-radio label="male">男</el-radio>
                    <el-radio label="female">女</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="form.password" />
            </el-form-item>
            <el-form-item label="出生日期">
                <el-col :span="11">
                    <el-date-picker v-model="form.birthday" type="date" placeholder="Pick a date" style="width: 100%" />
                </el-col>
            </el-form-item>
            <el-form-item label="家庭住址">
                <el-input v-model="form.address" />
            </el-form-item>
            <el-form-item label="个人简介">
                <el-input v-model="desc" type="textarea" />
            </el-form-item>
            <el-form-item label="擅长领域">
                <el-input v-model="feature" type="textarea" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">确认修改</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>

        <p style="font-weight: bold;">出诊信息</p>
        <el-table :data="tableData" border style="width: 100%" max-height="300px">
            <el-table-column prop="date" label="出诊日期">
                <template #default="scope">
                    <el-date-picker v-model="scope.row.date" type="date" placeholder="请选择日期" />
                </template>
            </el-table-column>
            <el-table-column prop="time" label="出诊时间">
                <template #default="scope">
                    <el-select v-model="scope.row.time" placeholder="选择出诊时间">
                        <el-option label="上午8：30到9：30" value="上午8：30到9：30"></el-option>
                        <el-option label="上午9：30到10：30" value="上午9：30到10：30"></el-option>
                        <el-option label="上午10：30到11：30" value="上午10：30到11：30"></el-option>
                        <el-option label="下午2：30到3：30" value="下午2：30到3：30"></el-option>
                        <el-option label="下午3：30到4：30" value="下午3：30到4：30"></el-option>
                        <el-option label="下午4：30到5：30" value="下午4：30到5：30"></el-option>
                    </el-select>
                </template>
            </el-table-column>
            <el-table-column prop="department" label="出诊科室">
                <template #default="scope">
                    <el-input v-model="scope.row.department"></el-input>
                </template>
            </el-table-column>
            <el-table-column prop="total" label="病人限制">
                <template #default="scope">
                    <el-input v-model="scope.row.total"></el-input>
                </template>
            </el-table-column>
            <el-table-column prop="price" label="挂号价格">
                <template #default="scope">
                    <el-input v-model="scope.row.price"></el-input>
                </template>
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="120">
                <template #default="scope">
                    <el-button link type="primary" size="small" @click.prevent="deleteRow(scope.$index)">
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-button type="primary" @click="onAddItem">新增</el-button>
        <el-button type="primary" @click="onSubmit">确认修改</el-button>
    </div>
    <script>
        const App = {
            data() {
                return {
                    form: { name: '', telphone: '', sex: '', address: '', password: '', birthday: '', desc: '', feature: '' },
                    tableData: [
                        {
                            date: '2022-12-14',
                            time: '上午8：30到11：30',
                            department: '内科',
                            total: 40,
                            price: 12
                        },
                        {
                            date: '2022-12-14',
                            time: '上午8：30到11：30',
                            department: '内科',
                            total: 40,
                            price: 12
                        },
                        {
                            date: '2022-12-14',
                            time: '上午8：30到11：30',
                            department: '内科',
                            total: 40,
                            price: 12
                        }
                    ]
                }
            },
            methods: {
                deleteRow(index) {
                    this.tableData.splice(index, 1);
                },
                onAddItem() {
                    this.tableData.value.push({
                        date: '',
                        time: '上午8：30到11：30',
                        department: '内科',
                        total: 40,
                        price: 12
                    })
                }
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>