<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/element-ui.css">
    <!-- import JavaScript -->
    <script src="js/element-ui.js"></script>
    <title>Element Plus demo</title>
</head>

<body>
    <div id="app">
        <el-form :model="form" label-width="120px">
            <el-form-item label="姓名">
                <el-input v-model="form.name" />
            </el-form-item>
            <el-form-item label="电话号码">
                <el-input v-model="form.telephone" />
            </el-form-item>
            <el-form-item label="性别">
                <el-radio-group v-model="form.sex">
                    <el-radio label="male">男</el-radio>
                    <el-radio label="female">女</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="form.password" />
            </el-form-item>
            <el-form-item label="出生日期">
                <el-col :span="11">
                    <el-date-picker v-model="form.birthday" type="date" placeholder="Pick a date" style="width: 100%" />
                </el-col>
            </el-form-item>
            <el-form-item label="家庭住址">
                <el-input v-model="form.address" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">确认修改</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>

        <p style="font-weight: bold;">挂号信息</p>
        <el-table :data="tableData" border style="width: 100%" height="150px">
            <el-table-column prop="date" label="挂号日期"></el-table-column>
            <el-table-column prop="time" label="挂号时间"></el-table-column>
            <el-table-column prop="department" label="挂号科室"></el-table-column>
            <el-table-column prop="doctorName" label="挂号医生"></el-table-column>
            <el-table-column prop="price" label="挂号价格"></el-table-column>
        </el-table>

    </div>
    <script>
        const App = {
            data() {
                return {
                    form: { name: '', telphone: '', sex: '', address: '', password: '', birthday: '' },
                    tableData: [
                        {
                            date: '2022-12-34',
                            time: '上午8：30到11：30',
                            department: '内科',
                            doctorName: '刘强',
                            price: 12
                        },
                        {
                            date: '2022-12-34',
                            time: '上午8：30到11：30',
                            department: '内科',
                            doctorName: '刘强',
                            price: 12
                        },
                        {
                            date: '2022-12-34',
                            time: '上午8：30到11：30',
                            department: '内科',
                            doctorName: '刘强',
                            price: 12
                        }
                    ]
                }
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>